.center-text {
  text-align: center
}

body, html {
  margin: 0;
}

.center-flex {
  display: flex;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.navbar {
  margin-bottom: 5px;
}

.center-items {
  align-items: center;
  display: inline-flex;
}

.collapsible-elem {
  margin: 0;
  padding: 2rem;
}

.no-search-line {
  box-shadow: none !important;
  border-bottom: 0px !important;
}

.full-width {
  width: 100%;
}

nav .input-field label i {
  color: black !important;
}

.chip-container {
  padding-top: 70px;
}

.custom-carousel {
  position: absolute !important;
  bottom: 0 !important;
  top: 48px !important;
  height: auto !important;
}

.upload-modal-height {
  height: calc(100% - 68px);
}