.center-text {
  text-align: center
}

body, html {
  margin: 0;
}

.center-flex {
  display: flex;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.navbar {
  margin-bottom: 5px;
}

.center-items {
  align-items: center;
  display: inline-flex;
}

.collapsible-elem {
  margin: 0;
  padding: 2rem;
}