<div id="app"></div>
<div id='container'>
  <h1>Filterz</h1>
  <br>
  <h3><%= @string %></h3>

  <h3>Enter an image URL</h3>
  <input type="text" id="imageURL">
  <button id="submitImage">Submit</button>

<div>
